.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* .container {
    padding: 2px 16px;
} */


.header{
    background-image: url('./images//Poster.png');
    background-repeat: repeat-x;
    background-size: contain;
}
.FirstPageNavbar{
    padding: 2% 0%;
}
/* div{
    color: white;
} */
div{
    font-family: DM Sans;
}